body {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
}

#canvas:focus {
  outline: none;
}

#game {
  position: relative;
  width: max-content;
  height: max-content;
  /* background: gray; */
}

ul {
  list-style: none;
}

.block {
  display: block;
}