body {
    margin: 0;
    box-sizing: border-box;
}

#canvas:focus {
  outline: none;
}

#game {
  position: relative;
  width: max-content;
  height: max-content;
}

ul {
  list-style: none;
}

.block {
  display: block;
}