<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Map Runner</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <div id="game">
<!--       <canvas id="canvas" tabindex=1>You browser is too old to use canvas technologies.</canvas> -->
  </div>
  <div id="mapList">
    <p id="mapTitle" class="map offList">
      <span class="name">NAME</span> 
      <span class="size">SIZE</span> 
      <span class="score">SCORE</span>
    </p>
    <div id="maps">
      <% maps.forEach(map => { %>
        <p class="map" onclick="checkForClick(this)">
          <span class="name"><%= map.name %></span> 
          <span class="size"><%= map.cols %>x<%= map.rows %></span> 
          <span class="score"><%= map.time %></span>
        </p>
      <% }) %>
    </div>
    <div id="btns" class="offList">
      <input id="btnEdit" type="button" value="CREATE" disabled >
      <input id="btnPlay" type="button" value="PLAY">
    </div>
  </div>
  
  <button id="test">Test</button>
  
  
  <script type="text/javascript">
    function checkForClick(el) {
      console.log(this)
      var oldSlected = document.querySelector('#mapList .map.selected'),
          btnPlay    = document.getElementById('#btnPlay');
      if(btnPlay.disabled) btnPlay.disabled = false
      if(oldSlected) oldSlected.classList.remove('selected')
      el.classList.add('selected')
    }
  </script>
  
  <script type="text/javascript" src="./map/load.js"></script>
  <script type="text/javascript" src="./game.js"></script>
  <script type="text/javascript" src="./map/save.js"></script>
  </body>
</html>