
body {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial;
    overflow: hidden;
  background: #111115;
}

#canvas {
  background: #111115;
}

#canvas:focus {
  outline: none;
}

#game {
  position: absolute;;
  left:0;
  top:0;
  width: max-content;
  height: max-content;
  display:none;
}

.block {
  display: block;
}

#mapList {
  display: block;
  position: relative;
  width: 500px;
  height: max-content;
  border: 1px solid white;
  margin: auto;
  margin-top: 200px;
}

#mapList > p {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: auto;
}

#mapList > p#mapTitle {
  background: #222225
}

#mapList .map input {
    display: none;
}

#mapList .map.selected {
    background: brown;
}